body,
html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
}

.press {
    font-size: 24px;
    color: rgb(72, 44, 11);
}

.heading-keycode {
    font-size: 30px;
}

.main-keycode {
    font-size: 200px;
}

.key-name {
    font-weight: bold;
    font-size: 26px;
}

.key-info {
    font-size: 20px;
}