body {
    text-align: center;
    font-family: sans-serif;
}

.heading-keycode {
    font-size: 30px;
}

.main-keycode {
    font-size: 200px;
}

.key-name {
    font-weight: bold;
    font-size: 26px;
}

.key-info {
    font-size: 20px;
}